.community img {
  width: 100%;
  height: 193px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.community-paragraph {
  width: 60%;
}
.community-group {
  display: grid;
  grid-template-columns: 1fr 350px;
  gap: 20px;
}
.community .posts {
  padding: 0;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.post {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 20px;
  background-color: #fff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.community h3 {
  padding-top: 20px;
}
.community h3 a {
  color: #000;
  text-decoration: none;
}
.community h3 a:hover {
  color: #ffcf00;
}
.community h5 {
  color: grey;
  padding-top: 29px;
}
.community h5 span {
  padding-right: 220px;
}
.community h2 span {
  color: #7e60fa;
}
.community .videos .description {
  background-color: #fff;
  padding: 15px;
}
.community .videos video {
  width: 100%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.community .videos h6 {
  color: grey;
  padding-top: 10px;
}
.community .videos h6 span {
  padding-right: 125px;
}
.community .videos h5 {
  padding: 10px 0px;
}
.community .videos h5 a {
  color: black;
  padding-top: 10px !important;
  text-decoration: none;
}
.community .videos h5 a:hover {
  color: #ffcf00;
}
@media (max-width: 482px) {
  .community-group {
    grid-template-columns: 1fr;
  }
  .post {
    grid-template-columns: 1fr;
    border-top-left-radius: 25px;
  }
  .post-details {
    padding: 10px;
  }
  .community h3 a {
    font-size: 25px;
  }
  .community h5 span {
    padding-right: 110px;
  }
  .community img {
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
  }
}
@media (min-width: 482px) and (max-width: 767px) {
  .community-group {
    grid-template-columns: 1fr;
  }
  .post {
    grid-template-columns: 1fr 2fr;
    border-top-left-radius: 25px;
  }
  .community h3 a {
    font-size: 20px;
  }
  .community h5 span {
    padding-right: 60px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .community-group {
    grid-template-columns: 2fr 1fr;
  }
  .post {
    grid-template-columns: 1fr 2fr;
    border-top-left-radius: 25px;
  }
  .community h3 {
    padding-top: 0px;
  }
  .community h5 {
    color: grey;
    padding-top: 0;
  }
  .community h3 a {
    font-size: 20px;
  }
  .community h5 span {
    padding-right: 40px;
  }
  .community .videos h6 span {
    padding-right: 100px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .post {
    grid-template-columns: 1fr 2fr;
    border-top-left-radius: 25px;
  }
  .community h3 a {
    font-size: 20px;
  }
  .community h5 span {
    padding-right: 140px;
  }
}
