.contact {
  margin: 20px auto;
  height: 475px;
  background-image: url(../../assets/images/contact.jpg);
  background-size: 100% 100%;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
}
.contact-paragraph {
  width: 60%;
}
.contact .overlay {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 0px 230px;
  position: absolute;
  background-color: rgb(49, 17, 183, 0.5);
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
}
.contact .contact-details h4 {
  margin: 50px 50px 0 50px;
  color: #ffcf00;
  font-weight: bold;
}
.contact .overlay .contact-details h2 {
  padding: 20px 50px;
  color: white;
}
.contact .overlay .contact-details p {
  color: white;
  padding: 0px 50px;
  margin-bottom: 50px;
  font-size: 18px;
}
.contact .overlay .contact-details a {
  color: white;
  padding: 0px 10px;
}
.contact .contact-details > a:first-of-type {
  margin-left: 40px;
}

.contact .overlay .social:hover {
  color: #ffcf00;
}
.contact .overlay div:last-of-type {
  height: 94%;
  position: relative;
  float: right;
  right: 15px;
  padding: 30px;
  margin-top: 15px;
  background-color: white;
  color: black !important;
  border-radius: 20px;
  text-align: center;
}
.contact .overlay div:last-of-type h2 {
  padding: 10px;
  font-weight: 600;
}
.contact input {
  width: 340px;
  height: 50px;
  margin: 5px 0px;
  padding: 10px;
  border-color: lightgray;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.contact input[type="checkbox"] {
  width: initial;
  height: initial;
  margin: 10px;
}
.contact input[type="submit"] {
  color: white;
  background-color: #ffcf00;
}
.contact input[type="submit"]:hover {
  background-color: #7e60fa;
}
.contact .nav-link {
  color: white;
  background-color: #ffcf00;
  margin: 10px 20px;
  padding: 13px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.contact .nav-link:hover {
  background-color: #7e60fa;
}
.contact #login .nav-link {
  margin: 10px 0px;
}
#login {
  display: none;
  padding: 0;
  margin-left: 50px;
  height: 200px;
}
.contact button {
  color: white;
  background: #ffcf00;
  border-color: #ffcf00;
  padding: 10px;
  width: 160px;
  margin: 5px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.contact button:hover {
  background-color: #7e60fa;
  border-color: #7e60fa;
}
.contact .error{
  color: red;
}
@media (max-width: 481px) {
  .contact {
    height: 950px;
  }
  .contact .overlay {
    grid-template-columns: repeat(auto-fill, minmax(300px, 440px));
  }
  .contact .contact-details h4 {
    margin: 50px 25px 0 25px;
  }
  .contact .overlay .contact-details h2 {
    padding: 20px 25px;
  }
  .contact .overlay .contact-details p {
    padding: 0px 25px;
    margin-bottom: 40px;
  }
  .contact .overlay div:last-of-type {
    left: 15px;
    margin-right: 30px;
    margin-top: 11px;
  }
  .contact input {
    width: 275px;
  }
  .contact button {
    width: 115px;
  }
  .contact .nav-link {
    margin: 10px 18px;
  }
}
@media (min-width: 482px) and (max-width: 767px) {
  .contact {
    height: 950px;
  }
  .contact .overlay div:last-of-type {
    left: 15px;
    margin-right: 30px;
    margin-top: 11px;
  }
  .contact .nav-link {
    margin: 10px 40px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact .overlay {
    grid-template-columns: repeat(auto-fill, minmax(300px, 340px));
    gap: 0px;
  }
  .contact .overlay div:last-of-type {
    left: 15px;
    margin-right: 19px;
  }
  .contact .contact-details h4 {
    margin: 50px 25px 0 25px;
  }
  .contact .overlay .contact-details h2 {
    padding: 20px 25px;
  }
  .contact .overlay .contact-details p {
    padding: 0px 25px;
    margin-bottom: 10px;
  }
  .contact input {
    width: 255px;
  }
  .contact button {
    width: 110px;
  }
  .contact input[type="checkbox"] {
    margin: 0px;
  }
  .contact .nav-link {
    margin: 10px 6px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .contact .overlay {
    gap: 100px;
  }
  .contact input {
    width: 330px;
  }
  .contact button {
    width: 110px;
  }
}
