.nav {
  margin-bottom: 90px;
}
.navbar {
  background-color: #fff !important;
  box-shadow: 0px 5px 4px #d6d1d1;
}
.navbar-brand img {
  width: 150px;
  height: 60px;
  margin-right: 360px;
}
.navbar-light .navbar-nav .nav-link {
  color: #ffcf00;
  font-size: 20px;
  margin-right: 20px;
}
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #7e60fa;
}
.underline-from-center:active::before,
.underline-from-center:focus::before,
.underline-from-center:hover::before {
  left: 0;
  right: 0;
}
.underline-from-center {
  position: relative;
}
.navbar .dropdown-item.active,
.dropdown-item:active {
  color: #ffcf00;
  text-decoration: none;
  background-color: #fff;
}
.navbar .dropdown-menu {
  padding: 0;
}
.underline-from-center::before {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  color: #7e60fa;
  background: #7e60fa;
  height: 2px;
  -webkit-transition-property: left, right;
  -moz-transition-property: left, right;
  -ms-transition-property: left, right;
  -o-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition: 0.6s ease-out;
  -moz-transition: 0.6s ease-out;
  -ms-transition: 0.6s ease-out;
  -o-transition: 0.6s ease-out;
  transition: 0.6s ease-out;
}
@media (min-width: 300px) and (max-width: 482px) {
  .navbar-brand img {
    position: relative;
    left: -60px;
    margin-right: 0px;
  }
  .header-bg h1 {
    margin-top: 40% !important;
    font-size: 40px !important;
    color: #fff;
  }
}
@media (min-width: 482px) and (max-width: 767px) {
  .navbar-brand img {
    position: relative;
    margin-right: 10px;
    left: -60px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .navbar-brand img {
    position: relative;
    left: -60px;
    margin-right: 100px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .navbar-brand img {
    position: relative;
    left: -60px;
    margin-right: 100px;
  }
}
